[mysqld]
innodb_flush_log_at_trx_commit=2
sync_binlog=0
innodb_flush_method=O_DIRECT
transaction-isolation=READ-COMMITTED
binlog_cache_size=4M
sql_mode=""
wait_timeout=26800
max_allowed_packet=500M
default-time-zone = "+4:00"